window {
  background: #36364f;
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: #94E2D5;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 8px
}

#active {
	/* This is to underline the button representing the currently active window */
	border-bottom: solid 2px;
	border-color: #45475A;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999
}

button {
	padding: 3px;
	margin-left: 3px;
	margin-right: 3px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 4px;
  color: #45475A;
}

button:focus {
	box-shadow: none
}
